<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">System Engineer</h3>
                            <div class="time">07/2017 - 10/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">The unbelievable machine Company, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Linux System Engineer</h3>
                            <div class="time">01/2013 - 06/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Pinguin AG, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Linux System Engineer</h3>
                            <div class="time">09/2008 - 12/2012</div>
                        </div><!--//upper-row-->
                        <div class="company">EsPresto AG, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Second Level Support Webhosting</h3>
                            <div class="time">02/2007 - 08/2008</div>
                        </div><!--//upper-row-->
                        <div class="company">Mittwald CM Service, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Customer Support Multimedia Service</h3>
                            <div class="time">09/2006 - 02/2007</div>
                        </div><!--//upper-row-->
                        <div class="company">T-Mobile, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Support</h3>
                            <div class="time">03/2006 - 08/2006</div>
                        </div><!--//upper-row-->
                        <div class="company">Strato AG, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Support</h3>
                            <div class="time">11/2005 - 02/2006</div>
                        </div><!--//upper-row-->
                        <div class="company">ProStep AG, Darmstadt</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
