<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Some of my projects which i've done so far.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Introduction of puppet</a></span> -
                    <span class="project-tagline">Introduced puppet and some DevOps principals to Pinguin AG</span>
                </div><!--//item-->
            </section><!--//section-->
